//- Extends
extends ./dev/extends/layout

//- Includes
//- Components
//- include ./dev/components/header

//- Elements
//- include ./dev/elements/input

//- Title
block title 
  |Finsweet

//- Body
block body
  .wrapper 
    h1 Hello world